Repository hack-different/apple-knowledge, pull requests merged in 2022-08, with the labels that each got.

#46 Move out of WIP
  docs/M1_Security.md
  docs/rootkit_made_in_cupertino.md
Labels: text-update

#47 Smoke tests
  .github/workflows/build-ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gem-ci.yml
  .github/workflows/npm-ci.yml
  .github/workflows/pypi-ci.yml
  .github/workflows/pypi-publish.yml
  _packages/node/src/build.ts
  _packages/python/apple_data.egg-info/PKG-INFO
  _packages/python/apple_data.egg-info/SOURCES.txt
  _packages/python/apple_data.egg-info/dependency_links.txt
  _packages/python/apple_data.egg-info/top_level.txt
  _packages/ruby/Gemfile
  _packages/ruby/Gemfile.lock
  _packages/ruby/Rakefile
  _tools/lib/kext.rb
  _tools/tasks/bbcfg.rake
  _tools/tasks/entitlements.rake
Labels: text-update, code-update, tool-update

#49 Fixes for IPSW order
  .github/workflows/build-ci.yml
  .github/workflows/gem-ci.yml
  .github/workflows/gem-push.yml
  .github/workflows/npm-ci.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pypi-ci.yml
  .github/workflows/pypi-publish.yml
  _data/ipsw.yaml
  _packages/node/src/build.ts
  _tools/tasks/ipsw.rake
Labels: data-update, tool-update

#50 Fix data and add products to cores.yaml
  _data/cores.yaml
Labels: data-update

#55 Add Studio Display
  _data/cores.yaml
Labels: data-update

#65 Update to credids tasks
  .idea/apple-knowledge.iml
  .idea/codestream.xml
  .idea/runConfigurations/Jekyll__Build.xml
  .idea/vcs.xml
  _data/credits.yaml
  tasks/credits.rake
Labels: data-update

#69 Proer updaters
  .github/workflows/update.yml
  Rakefile
  tasks/credits.rake
  tasks/mobile_assets.rake
Labels: code-update
