Repository hack-different/apple-knowledge, pull requests merged in 2022-10, with the labels that each got.

#85 Parallel update for multiple connections
  .idea/apple-knowledge.iml
  .idea/codestream.xml
  Gemfile
  Gemfile.lock
  _data/tipw_sync.yaml
  tasks/tipw.rake
Labels: data-update, code-update

#88 New workflows
  .github/workflows/analysis-codeql.yml
  .github/workflows/build-ci.yml
  .github/workflows/build-jekyll.yaml
  .github/workflows/build-node.yml
  .github/workflows/build-python.yml
  .github/workflows/build-ruby.yml
  .github/workflows/build-test.yaml
  .github/workflows/gem-ci.yml
  .github/workflows/gem-push.yml
  .github/workflows/greetings.yml
  .github/workflows/label.yml
  .github/workflows/npm-ci.yml
  .github/workflows/publish-gem.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/publish-site.yml
  .github/workflows/pypi-ci.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/update.yml
  .idea/apple-knowledge.iml
  .idea/codestream.xml
  .style.rb
  Gemfile.lock
  README.md
  Rakefile
  _packages/node/.gitignore
  _packages/node/package.json
  _packages/node/yarn.lock
Labels: data-update, text-update, code-update

#89 New workflows
  .github/workflows/build-ci.yml
  .github/workflows/publish-gem.yml
  .idea/codestream.xml
Labels: text-update, code-update

#97 Add more baseband certificate IDs
  _data/baseband.yaml
Labels: data-update
