Repository hack-different/apple-knowledge, pull requests merged in 2022-02, with the labels that each got.

#15 Update README.md
  .github/labeler.yml
  README.md
  _config.yml
Labels: text-update

#16 New tooling info
  README.md
Labels: text-update

#18 Build instructions
  BUILD.md
  Gemfile.lock
  README.md
Labels: text-update

#20 Fix several minor typos and grammar issues
  README.md
  docs/EFI.md
  docs/Factory_Firmware_Payloads.md
  docs/Internet_Recovery.md
  docs/Kernels.md
  docs/M1_Boot_Policy.md
  docs/NVRAM.md
  docs/SEP_memmap.md
Labels: bug, text-update

#19 Readme update
  BUILD.md
  README.md
  docs/GIFTS.md
Labels: text-update

#21 Factory device restore
  README.md
  _data/fdr.yaml
  _schema/fdr.rb
  _tools/_common.rb
  _tools/scan_fdr.rb
Labels: data-update, text-update, code-update, tool-update

#28 update README (SEPROM (32/64bit) IDA helper)
  README.md
Labels: text-update
